/* Header */

.header-container{
  background-color: rgba(255, 255, 255, 0.077);
}

.brand-text{
  color: #ff0000;
  font-weight: 500;
  font-family:'Times New Roman', Times, serif;
}

/* Body */

/* Home page */

.home-container {
  margin-top: 1rem;
}

.card-horizontal{
  display: flex;
  flex: 1 1 auto;
}

.card-image {
  text-align: center;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Footer */

.footer-container{
  margin-top: 10px;
}

